  <mat-card  class="recipe-detail">
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-content>
      <mat-card-subtitle>Ingredients: </mat-card-subtitle>
      <div class="detail ingredient">
        <div class="content"  *ngFor="let ingredient of ingredients">
          <img [src]="ingredient.iconUrl" />{{ingredient.quantity}}
        </div>
      </div>
      <mat-card-subtitle class="subtitle">Results: </mat-card-subtitle>
      <div class="detail result">
        <div class="content" *ngFor="let result of results">
          <img [src]="result.iconUrl" />{{result.quantity}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
