.content {
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

img {
  width: 32px;
  height: 32px;
}

.recipe-detail{
  max-height: 100%;
  max-width: 100%;
}
