  <mat-card>
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-content class="detail">
      <div class="ingredient" *ngFor="let ingredient of ingredients">
        <div class="content">
          <img mat-card-image [src]="ingredient.iconUrl" /> {{ingredient.quantity}}
        </div>
      </div>
      <div class="result" *ngFor="let result of results">
        <div class="content">
          <img mat-card-image [src]="result.iconUrl" />{{result.quantity}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
