#ingredient {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-end;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-end;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
