<mat-card class="recipe-detail">
  <mat-card-title>{{recipe.name}}</mat-card-title>
  <mat-card-content>
    <div class="content">
      <i class="material-icons ">
        alarm
      </i>
      {{recipe.energyRequired}}
    </div>
    <mat-card-subtitle>Ingredients: </mat-card-subtitle>
    <app-ingredients [items]="ingredients"></app-ingredients>
    <mat-card-subtitle class="subtitle">Results: </mat-card-subtitle>
    <app-results [items]="results"></app-results>
  </mat-card-content>
</mat-card>
