<table mat-table [dataSource]=recipes>

  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef> Icon </th>
    <td mat-cell *matCellDef="let item">
      <img [src]="item.iconUrl" />
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Recipe name </th>
    <td mat-cell *matCellDef="let  recipe"> {{recipe.name}} </td>
  </ng-container>

  <ng-container matColumnDef="ingredients">
    <th mat-header-cell *matHeaderCellDef> Recipe ingredient </th>
    <td mat-cell *matCellDef="let recipe ">
      <span *ngFor="let ingredient of recipe.ingredients">TODO : show item with icon and quantities</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let recipe">
      <button mat-button (click)="removeRecipe(recipe)">
        <i class="material-icons ">
          remove
        </i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
  <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay "></tr>

</table>
