<div mat-dialog-content>
  <mat-grid-list cols="5">
    <mat-grid-tile *ngFor="let category of categories$ | async">
      <button (click)="selectCategory(category.name)">
        <img [src]="category.iconUrl" />
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <div *ngFor="let recipe of selectableRecipes$ | async">
    <mat-grid-list cols="8">
      <button mat-button (click)="selectRecipe(recipe)">
        <img [src]="recipe.iconUrl" appTooltip [recipe]="recipe" [items]="items$ | async"  />
      </button>
    </mat-grid-list>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
    </div>
