<div mat-dialog-content>
  <mat-grid-list cols="5">
    <mat-grid-tile *ngFor="let category of displayedCategories$ | async">
      <button (click)="selectCategory(category.name)">
        <app-icon [iconUrl]="category.iconUrl" ></app-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <div *ngFor="let recipe of selectableRecipes$ | async">
    <mat-grid-list cols="8">
      <button mat-button (click)="selectRecipe(recipe)">
          <app-icon [iconUrl]="recipe.iconUrl" appTooltip [recipe]="recipe" [items]="items$ | async" ></app-icon>
      </button>
    </mat-grid-list>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
    </div>
