<table mat-table [dataSource]=items>

  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef> Icon </th>
    <td mat-cell *matCellDef="let item">
      <img [src]="item.iconUrl" />
    </td>
  </ng-container>

  <ng-container matColumnDef="itemName">
    <th mat-header-cell *matHeaderCellDef> Item name </th>
    <td mat-cell *matCellDef="let item"> {{item.name}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let item">
      <button *ngIf="action == 'add'" mat-button (onclick)="addItem(item.id)">
        <i class="material-icons">
          add
        </i>
      </button>

      <button *ngIf="action == 'remove'" mat-button (onclick)=removeItem(item.id)>
        <i class="material-icons">
          remove
        </i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>

</table>
